/* Estilo para la sección de búsqueda */
.body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Work Sans', sans-serif;
}

.content {
  border: none;
}

.search-home {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: black;
}

/* Estilo para el formulario de búsqueda */


/* Estilo para el input de búsqueda */
.search-home input[type="text"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para el botón de búsqueda */
.search-home button[type="submit"] {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(30, 215, 96);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo hover para el botón de búsqueda */
.search-home button[type="submit"]:hover {
  background-color: #26ed8a;
}

.top-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-results h3 {
  font-size: 30px;
  align-content: center;
}

.search-results-list {
  list-style: none;

}

.search-result-item {
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.search-link {
  text-decoration: none;
}

.search-result-title,
.search-result-artist {
  color: white
}

/* Media Query para pantallas medianas y grandes */
@media (min-width: 768px) {
  .search-home input[type="text"] {
    max-width: 500px;
  }
}