.content{
    background-color:#121212;
    margin: 25px;
    padding: 50px;
    color:rgb(35, 34, 52);
    border-radius: 20px;
    border: solid 2px #252525;

}
p.hidden{
    display:none
}
p.show{
    display:block
}
.canciones{
    display: flex;
    flex-direction: row;
}