
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
.card {
    background-color: red; /* Cambia "red" al color de fondo rojo que prefieras */
    margin: 25px;
    padding: 20px; /* Ajusta el espacio interno según tus preferencias */
    color: rgb(35, 34, 52);
    border-radius: 20px;
    border: solid 2px #252525;
    max-width: 100%; /* Ancho máximo del 100% del contenedor padre */
    width: 300px; /* Ancho automático según el contenido */
    display: flex;
    flex-direction: column;
  }

  .content {
    height: auto; /* Ajusta la altura automáticamente al contenido */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px; /* Espaciado interno */
  }
  
.content a {
    text-decoration: none; /* Quitar subrayado */
    color: white; /* Texto blanco */
  }
  
  /* Estilo para el botón "View more" */
  .content button {
    background-color: rgb(30, 215, 96); /* Fondo verde */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo hover para el botón "View more" */
  .content button:hover {
    background-color: #26ed8a; /* Cambio de color al pasar el mouse */
  }
  
  
  