footer {
    background-color: black; /* Cambia el color de fondo a negro */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif; /* Cambia la fuente a sans-serif */
    border-top: solid 2px #151515;
    bottom: 0; /* Lo coloca en la parte inferior del viewport */
    width: 100%; /* Ancho completo del viewport */
    height: 100px;
    margin-top: 50px;
  }
  
  .footer-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    list-style: none;
    font-family: sans-serif; /* Cambia la fuente a sans-serif */
    font-size: 14px;
  }

@media(min-width: 768px){
  .footer-team{
    font-size:  20px;
  }
}

  