/* albumList.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
}

.card {
  background-color: #252525; /* Cambia "red" al color de fondo rojo que prefieras */
  margin: 25px;
  padding: 20px; /* Ajusta el espacio interno según tus preferencias */
  color: rgb(35, 34, 52);
  border-radius: 20px;
  max-width: 100%; /* Ancho máximo del 100% del contenedor padre */
  width: 300px; /* Ancho automático según el contenido */
  display: flex;
  flex-direction: column;
}

.content {
  height: auto; /* Ajusta la altura automáticamente al contenido */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px; /* Espaciado interno */
}

/* Clase para la información dentro de la card */
.card-info {
  text-align: center; /* Alinea el texto al centro */
}

/* Estilos para botones */
button {
  background-color: white;
  color: #333;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #333;
  color: white;
}


