/* Estilos base */
.content {
    background-color: #ccc; /* Fondo gris */
    margin: 25px;
    padding: 20px; /* Ajusta el espacio interior */
    color: white; /* Texto blanco */
    border-radius: 20px;
    border: solid 5px #000;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    .content {
      padding: 30px; /* Aumenta el espacio interior */
    }
  }
  
  /* Estilos para pantallas más grandes */
  @media (min-width: 1200px) {
    .content {
      padding: 50px; /* Aumenta el espacio interior aún más */
    }
  }
  